
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(104, 104, 104, 0.5);
  display: none; 
}

body {
    background-color: rgb(36, 36, 61);
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin: 2%;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 12vh;
    margin: auto;
}

#btnNewBook {
    
    height: 70%;
    width: 40%;
    max-width: 300px;
    background-color: #bb0808;
    color: black;
    font-size: 3em;
    box-shadow: 0px 0px 4px 1px black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: none;
}

#btnNewBook:hover {
    background-color: #b43d3d;
}

#bookForm {
    display: none;    
}

#formNewBook {
    background-color: rgb(42, 46, 59); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 4px 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#closeBtn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

#closeForm {
    height: 100%;
    max-height: 70px;
    width: 10%;
    max-width: 70px;
    background-color: rgb(129, 0, 0);
    color: black;
    font-size: 2em;
    border: none;
    box-shadow: 0px 0px 3px 1px black, 0px 0px 1px 1px black;
}

label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 5px 0px 0px 0px;
    font-size: 4em;
    color:rgb(255, 255, 255)
}

.bookInput {
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    width: 70%;
    transition: all 0.2s ease-in-out;
    font-size: 2em;
}

textarea:focus, input:focus{
    outline: none;
}

.bookInput:focus  {
    width: 75%;
}


input.status {
    height: 7%;
    width: 7%;
    border: none;
    color: black;
    margin: 0;
}

#submit {
    height: 10%;
    width: 50%;
    max-width: 350px;
    background-color: rgb(56, 64, 165);
    font-size: 2em;
    border: none;
    margin: 3%;
    box-shadow: 0px 0px 3px 1px black, 0px 0px 1px 1px black;
}

.errorMsg {
    font-size: 1em;
    color: red;
    max-width: 1000px;

}

#submit:hover {
    background-color: rgb(73, 83, 212);
}

#closeForm:hover {
    background-color: rgb(252, 161, 161);
}

#bookList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bookCard {
    width: 90vw;
    height: 30vh;   
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(28, 28, 94);
    margin: 5%;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-rows:  repeat(5, 1fr);
}

.titles {
    width: 100%;
    text-align: center;
    margin: auto;
}

.authors {
    width: 100%;
    text-align: center;
    margin: auto;
}

.status {
    width: 55%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 3px 1px black, 0px 0px 1px 1px black;
    margin: auto;
}

.pages {

    width: 100%;
    text-align: center;
    margin: auto;
}



p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    color: white;
}

.removeBook {
    height: 70%;
    max-height: 70px;
    width: 10%;
    max-width: 70px;
    margin: auto;   
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(173, 17, 17);
    border: none;
    font-size: 0.6em;
    box-shadow: 0px 0px 3px 1px black, 0px 0px 1px 1px black;
}
       
@media (min-width: 768px){

    #formNewBook {
        font-size: 0.9em;
        width: 80vw;
    }

    .bookInput {
        width: 60%;
    }

    .bookInput:focus {
        width: 65%;
    }
    
}

@media (min-width: 1024px){
    h1 {
        font-size: 7em;
    }
    
    #formNewBook {
        width: 50vw;
    }

    .bookCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 3em;
    }

    .titles {
        width: 20%;
    }
    
    .authors {
        width: 20%;
    }
    
    .status {
        width: 20%;
    }
    
    .pages {
    
        width: 20%;
    }

    p {
        white-space: initial;
        overflow: hidden;
        max-width: 800px;
    }
}
